<div class="login-box"  style="background-color: rgb(238, 154, 57)">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b>LTE</a>
  </div>
  <div class="login-box-body"  style="background-color:rgb(238, 154, 57)">
    <p class="login-box-msg">Sign in to start your session</p>
    <form [formGroup]='this.loginForm' (ngSubmit)='onSubmit()'>
      <div class="form-group has-feedback">
        <input type="email" formControlName="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" formControlName="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <!-- <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a> -->
  </div>
</div>
